Project Files/Exported Data/FormCreationFlow/Microsoft.Flow/flows/4d624394-9481-46cb-9d2b-f86ee1993c12/definition.json
{"name":"67f3c92f-597a-4437-8f73-38fe03b1d354","id":"/providers/Microsoft.Flow/flows/67f3c92f-597a-4437-8f73-38fe03b1d354","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Intake Form Creation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/d78156d7-26a3-424f-b894-46cf8e73011b/resourceGroups/45f26ee5f134439ebc93e6c7e33d61c2-default45f26ee5f134439ebc93e6c7e33d61c2-env/providers/Microsoft.Logic/workflows/67f3c92f-597a-4437-8f73-38fe03b1d354-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"91294653-969c-443b-9527-e26ce9953b27","type":"User","tenantId":"45f26ee5-f134-439e-bc93-e6c7e33d61c2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-12-03T06:40:22.5383009Z","clientCreatedTime":"2025-10-23T14:53:11.8260259Z","connectionKeySavedTimeKey":"2025-12-03T06:40:22.5383009Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"7b8c2103-0cbd-4ad7-b70b-f347dab1b4b7"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"5W7yRTTxnkO8k-bH4z1hwlNGKZGcljtElSfibOmVOydUNzFHMjhDWFhEVEQyR1NXUTVWM0FVMUFETy4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"0ed2214f-4d67-4903-a04b-b4f0ac7424bd"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"5W7yRTTxnkO8k-bH4z1hwlNGKZGcljtElSfibOmVOydUNzFHMjhDWFhEVEQyR1NXUTVWM0FVMUFETy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"c458831a-a6cb-479c-9946-898f18792068"},"type":"InitializeVariable","inputs":{"variables":[{"name":"nurseNurse","type":"string","value":"@outputs('Get_response_details')?['body/r5e41e9ba9c1047b68ab4f09e21f65d8d']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"fbdcd28a-b482-474a-b008-73b924ada3fb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"templateName","type":"string","value":"@outputs('Get_response_details')?['body/rc9df61d72b9645fe98e8769223f1a096']"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"69173cae-1e4f-446e-88ba-a843d4642fa5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"dateTime","type":"string","value":"@{utcNow()}"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"5b761ac2-d072-4203-9e2b-9833aae33e8d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"emailAddress","type":"string","value":"@outputs('Get_response_details')?['body/red9fdd782a8c4beea401c00fb853e9fd']"}]}},"Get_file_content":{"runAfter":{"Initialize_variable_8":["Succeeded"]},"metadata":{"operationMetadataId":"cdad117d-857b-4c7a-b9f2-34ce6b61dc3f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://kennesawedu.sharepoint.com/sites/Team-P26-T1DigitalIntakeSmartAutomation","id":"@concat(\n  '%252fBlank%2bForms%252f',\n  replace(uriComponent(variables('templateName')), '%20', '%2b'),\n  '.pdf'\n)\n","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Create_an_agreement_from_a_file_content_and_send_for_signature":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"ff8f12fd-cfd2-4546-a2a3-00a42ff45393"},"type":"OpenApiConnection","inputs":{"parameters":{"AgreementCreationInfoIdFileStream/name":"@{variables('nurseNurse')}_@{variables('templateName')}_@{variables('dateTime')}","AgreementCreationInfoIdFileStream/fileInfos":[{"fileName":"@{variables('templateName')}.pdf","formData":"@body('Get_file_content')"}],"AgreementCreationInfoIdFileStream/signatureType":"ESIGN","AgreementCreationInfoIdFileStream/participantSetsInfo":[{"memberInfos":[{"email":"@outputs('Get_response_details')?['body/red9fdd782a8c4beea401c00fb853e9fd']"}],"order":1,"role":"SIGNER"}],"AgreementCreationInfoIdFileStream/state":"IN_PROCESS","AgreementCreationInfoIdFileStream/message":"Please review and complete this document","AgreementCreationInfoIdFileStream/emailOption/sendOptions/initEmails":"ALL"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"CreateAgreementByFileStream"},"authentication":"@parameters('$authentication')"}},"Get_a_PDF_of_a_signed_agreement":{"runAfter":{"Do_until":["Succeeded"]},"metadata":{"operationMetadataId":"4a70c24b-6b9c-416b-bbfb-89e322cb3055"},"type":"OpenApiConnection","inputs":{"parameters":{"agreementId":"@outputs('Create_an_agreement_from_a_file_content_and_send_for_signature')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"GetCombinedDocument_V2"},"authentication":"@parameters('$authentication')"}},"Do_until":{"actions":{"Get_the_status_of_an_agreement_2":{"metadata":{"operationMetadataId":"e7f9487b-7276-41ed-83a4-19b7faac83f6"},"type":"OpenApiConnection","inputs":{"parameters":{"agreementId":"@outputs('Create_an_agreement_from_a_file_content_and_send_for_signature')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"GetAgreementInfo_V2"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Get_the_status_of_an_agreement_2":["Succeeded"]},"metadata":{"operationMetadataId":"579bf9c3-8356-48c7-b064-82d4a9452229"},"type":"SetVariable","inputs":{"name":"documentStatus","value":"@outputs('Get_the_status_of_an_agreement_2')?['body/status']"}},"Delay":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"edba9c08-556b-41ce-bd2f-cc7f49a6f656"},"type":"Wait","inputs":{"interval":{"count":20,"unit":"Second"}}}},"runAfter":{"Initialize_variable_6":["Succeeded"]},"expression":"@equals(variables('documentStatus'), 'SIGNED')","limit":{"count":120,"timeout":"PT1H"},"metadata":{"operationMetadataId":"26c9535e-ea68-456f-876b-0a75e889569d"},"type":"Until"},"Create_item":{"runAfter":{"Initialize_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"847e0090-34f2-4714-9095-2089e97a781d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://kennesawedu.sharepoint.com/sites/Team-P26-T1DigitalIntakeSmartAutomation","table":"d957f24c-31c9-48b4-9195-529564d80fb8","item/Title":"@{variables('nurseNurse')} - @{variables('templateName')}","item/PatientName":"@{variables('patientName')} - @{variables('patientID')}","item/DateSubmitted":"@utcNow()","item/FormName":"@variables('templateName')","item/StaffMember":"@variables('nurseNurse')","item/Signature/Value":"Signed","item/PatientID":"@variables('patientID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}},"Add_attachment":{"runAfter":{"Create_item":["Succeeded"]},"metadata":{"operationMetadataId":"357fdf7a-da16-4478-9565-6ec8e2b149fb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://kennesawedu.sharepoint.com/sites/Team-P26-T1DigitalIntakeSmartAutomation","table":"d957f24c-31c9-48b4-9195-529564d80fb8","itemId":"@outputs('Create_item')?['body/ID']","displayName":"@{variables('nurseNurse')}_@{variables('templateName')}_@{variables('dateTime')}.pdf","body":"@body('Get_a_PDF_of_a_signed_agreement')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateAttachment"},"authentication":"@parameters('$authentication')"}},"Delay_2":{"runAfter":{"Create_an_agreement_from_a_file_content_and_send_for_signature":["Succeeded"]},"metadata":{"operationMetadataId":"d5b45d28-f704-4d1a-88d0-b3bdaf48b22c"},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"Initialize_variable_6":{"runAfter":{"Delay_2":["Succeeded"]},"metadata":{"operationMetadataId":"0ca0790a-fcce-421a-b910-2561c8cfd34a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"documentStatus","type":"string"}]}},"Initialize_variable_7":{"runAfter":{"Get_form_field_data_of_agreement_in_JSON_format":["Succeeded"]},"metadata":{"operationMetadataId":"707c1422-5d1c-424b-afdc-0210b5851751"},"type":"InitializeVariable","inputs":{"variables":[{"name":"patientID","type":"string","value":"@{coalesce(\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['Patient ID'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['PATIENT ID'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['PatientID'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['PATIENTID'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['Patient ID_2'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['PATIENT ID_2'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['Patient_Id'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['PATIENTS ID'],\n  outputs('Get_form_field_data_of_agreement_in_JSON_format')?['body']?['formDataList']?['PATIENTS ID_2']\n)\n}"}]}},"Initialize_variable_8":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"413de080-4792-41b7-b4e7-264ca5d3e153"},"type":"InitializeVariable","inputs":{"variables":[{"name":"patientName","type":"string","value":"@outputs('Get_response_details')?['body/r2c56862f46e843858bd68b8c92318970']"}]}},"Get_form_field_data_of_agreement_in_JSON_format":{"runAfter":{"Get_a_PDF_of_a_signed_agreement":["Succeeded"]},"metadata":{"operationMetadataId":"a5b5b506-cd4d-44d5-8ecc-4e49afa3102b"},"type":"OpenApiConnection","inputs":{"parameters":{"agreementId":"@outputs('Create_an_agreement_from_a_file_content_and_send_for_signature')?['body/id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"GetAgreementFormFieldData_V3"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-022c39a2-dadd-4208-9e29-283335bbdee1","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-2cfaef89-9ed2-43d9-b49b-b41214c2f996","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_adobesign":{"connectionName":"shared-adobesign-d95e7a03-a42f-4c04-83b9-79363e0de2ff","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_adobesign","tier":"NotSpecified","apiName":"adobesign","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}